/* line 2, /tmp/mgd-J4B/clone/source/stylesheets/main.css.scss */
* {
  box-sizing: border-box; }

/* line 6, /tmp/mgd-J4B/clone/source/stylesheets/main.css.scss */
div, section {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 16, /tmp/mgd-J4B/clone/source/stylesheets/main.css.scss */
header {
  background-color: #2A3039;
  color: #ffffff; }
  /* line 19, /tmp/mgd-J4B/clone/source/stylesheets/main.css.scss */
  header:after {
    content: "";
    display: table;
    clear: both; }

/* line 26, /tmp/mgd-J4B/clone/source/stylesheets/main.css.scss */
header {
  background: #2A3039;
  text-align: center;
  color: #fff;
  margin-top: 0em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 0em; }
  /* line 35, /tmp/mgd-J4B/clone/source/stylesheets/main.css.scss */
  header div {
    max-width: 1000px;
    position: relative;
    margin: 0 auto;
    min-width: 640px;
    padding: 0 1em; }
    /* line 43, /tmp/mgd-J4B/clone/source/stylesheets/main.css.scss */
    header div div.clearfix h2 {
      position: absolute;
      line-height: 0;
      float: left;
      margin: 0;
      font-size: 2em;
      line-height: 0.83333em;
      padding: 0 2em;
      left: -48px; }
    /* line 55, /tmp/mgd-J4B/clone/source/stylesheets/main.css.scss */
    header div div.clearfix ul {
      margin-top: 0em;
      padding-top: 0em;
      padding-bottom: 0em;
      margin-bottom: 0em;
      float: right;
      white-space: nowrap;
      line-height: 2em;
      list-style: none; }
      /* line 64, /tmp/mgd-J4B/clone/source/stylesheets/main.css.scss */
      header div div.clearfix ul li {
        display: inline-block;
        text-align: -webkit-match-parent;
        margin-left: 2em; }
        /* line 69, /tmp/mgd-J4B/clone/source/stylesheets/main.css.scss */
        header div div.clearfix ul li a {
          font-weight: bold;
          color: #fff;
          text-decoration: none;
          font-weight: bold; }
          /* line 74, /tmp/mgd-J4B/clone/source/stylesheets/main.css.scss */
          header div div.clearfix ul li a:hover {
            opacity: 0.5; }

/* line 84, /tmp/mgd-J4B/clone/source/stylesheets/main.css.scss */
body {
  background-color: #f1f3f5;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  color: #333; }
  /* line 90, /tmp/mgd-J4B/clone/source/stylesheets/main.css.scss */
  body p {
    font-size: 17px;
    line-height: 28px; }

/* line 96, /tmp/mgd-J4B/clone/source/stylesheets/main.css.scss */
pre {
  margin-top: 1.5em; }
  /* line 98, /tmp/mgd-J4B/clone/source/stylesheets/main.css.scss */
  pre code {
    margin-top: 1.5em;
    font-size: 13px;
    font-family: Monaco,Consolas,"Lucida Console",monospace;
    display: block;
    color: #111111;
    padding: 1em;
    overflow-y: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-width: 0.0625em;
    border-style: solid;
    padding: 1.4375em;
    border-color: #ddd;
    border-width: 1px;
    overflow-x: scroll;
    border-radius: 4px;
    background-color: rgba(241, 243, 245, 0.15);
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(241, 243, 245, 0)), color-stop(100%, rgba(241, 243, 245, 0.35)));
    background-image: -webkit-linear-gradient(rgba(241, 243, 245, 0), rgba(241, 243, 245, 0.35));
    background-image: -moz-linear-gradient(rgba(241, 243, 245, 0), rgba(241, 243, 245, 0.35));
    background-image: -o-linear-gradient(rgba(241, 243, 245, 0), rgba(241, 243, 245, 0.35));
    background-image: linear-gradient(rgba(241, 243, 245, 0), rgba(241, 243, 245, 0.35));
    background-size: 100% 1.1875em;
    background-repeat: no-repeat;
    background-position: 0 100%;
    box-shadow: inset 0 1px 0 white, 0 1px 1px rgba(0, 0, 0, 0.05);
    font-family: Monaco,Consolas,"Lucida Console",monospace; }

/* line 130, /tmp/mgd-J4B/clone/source/stylesheets/main.css.scss */
.content {
  padding-top: 3em;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto; }

/* line 137, /tmp/mgd-J4B/clone/source/stylesheets/main.css.scss */
.sidebar {
  float: left;
  width: 15%;
  margin-left: 3%;
  margin-top: 1.75em; }

/* line 144, /tmp/mgd-J4B/clone/source/stylesheets/main.css.scss */
.sidebar-item {
  border-color: #ddd;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 2.25em;
  border-bottom-width: 1px;
  border-bottom-style: solid; }

/* line 154, /tmp/mgd-J4B/clone/source/stylesheets/main.css.scss */
.borderless {
  border-bottom: none; }

/* line 158, /tmp/mgd-J4B/clone/source/stylesheets/main.css.scss */
.post {
  border: 1px solid #ddd;
  margin-bottom: 3em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: inset 0 1px 0 white, 0 1px 1px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  padding: 2.25em; }
  /* line 168, /tmp/mgd-J4B/clone/source/stylesheets/main.css.scss */
  .post .post-text {
    background-image: -webkit-gradient(linear, 100% 50%, 0% 50%, color-stop(0%, rgba(212, 212, 212, 0)), color-stop(50%, rgba(212, 212, 212, 0.5)), color-stop(100%, #d4d4d4)), -webkit-gradient(linear, 100% 50%, 0% 50%, color-stop(0%, white), color-stop(50%, rgba(255, 255, 255, 0.5)), color-stop(100%, rgba(255, 255, 255, 0))), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(241, 243, 245, 0.5)), color-stop(100%, rgba(241, 243, 245, 0)));
    background-image: -webkit-linear-gradient(right, rgba(212, 212, 212, 0), rgba(212, 212, 212, 0.5), #d4d4d4), -webkit-linear-gradient(right, white, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)), -webkit-linear-gradient(rgba(241, 243, 245, 0.5), rgba(241, 243, 245, 0));
    background-image: -moz-linear-gradient(right, rgba(212, 212, 212, 0), rgba(212, 212, 212, 0.5), #d4d4d4), -moz-linear-gradient(right, white, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)), -moz-linear-gradient(rgba(241, 243, 245, 0.5), rgba(241, 243, 245, 0));
    background-image: -o-linear-gradient(right, rgba(212, 212, 212, 0), rgba(212, 212, 212, 0.5), #d4d4d4), -o-linear-gradient(right, white, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)), -o-linear-gradient(rgba(241, 243, 245, 0.5), rgba(241, 243, 245, 0));
    background-image: linear-gradient(right, rgba(212, 212, 212, 0), rgba(212, 212, 212, 0.5), #d4d4d4), linear-gradient(right, #ffffff, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)), linear-gradient(rgba(241, 243, 245, 0.5), rgba(241, 243, 245, 0));
    margin-left: -2.25em;
    margin-right: -2.25em;
    padding: 1em 2.25em 0 2.25em;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 1px,100% 150px,100% 150px; }
  /* line 181, /tmp/mgd-J4B/clone/source/stylesheets/main.css.scss */
  .post img {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    display: block; }

/* line 189, /tmp/mgd-J4B/clone/source/stylesheets/main.css.scss */
.posts-wrapper {
  float: left;
  width: 80%; }

/* line 194, /tmp/mgd-J4B/clone/source/stylesheets/main.css.scss */
.post-meta {
  margin-bottom: 0.75em;
  display: block;
  opacity: .5; }

/* line 200, /tmp/mgd-J4B/clone/source/stylesheets/main.css.scss */
div.social {
  margin: 1em 2.5em;
  margin-bottom: 0; }
  /* line 203, /tmp/mgd-J4B/clone/source/stylesheets/main.css.scss */
  div.social a {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    display: -moz-inline-box;
    -moz-box-orient: vertical;
    display: inline-block;
    vertical-align: middle;
    text-indent: -9999px;
    margin-right: 15px;
    opacity: 0.5;
    width: 28px;
    height: 28px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }

/* line 226, /tmp/mgd-J4B/clone/source/stylesheets/main.css.scss */
a.twitter {
  background: url("../images/twitter.png") center no-repeat #55cff8;
  border: 1px solid #55CFF8; }
  /* line 229, /tmp/mgd-J4B/clone/source/stylesheets/main.css.scss */
  a.twitter:hover {
    opacity: 1; }

/* line 234, /tmp/mgd-J4B/clone/source/stylesheets/main.css.scss */
a.github {
  background: url("../images/github.png") center no-repeat #afb6ca;
  border: 1px solid #afb6ca; }
  /* line 237, /tmp/mgd-J4B/clone/source/stylesheets/main.css.scss */
  a.github:hover {
    opacity: 1; }

/* line 242, /tmp/mgd-J4B/clone/source/stylesheets/main.css.scss */
a.linkedin {
  background: url("../images/linkedin-1.png") center no-repeat #afb6ca;
  border: 1px solid #afb6ca; }
  /* line 245, /tmp/mgd-J4B/clone/source/stylesheets/main.css.scss */
  a.linkedin:hover {
    opacity: 1; }

/* line 250, /tmp/mgd-J4B/clone/source/stylesheets/main.css.scss */
div.about-bg {
  background: url("images/about-bg.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 500px; }

/* line 259, /tmp/mgd-J4B/clone/source/stylesheets/main.css.scss */
div.about-content {
  min-height: 500px; }
  /* line 261, /tmp/mgd-J4B/clone/source/stylesheets/main.css.scss */
  div.about-content .blurb {
    display: inline-block;
    width: 45%;
    float: right; }
    /* line 265, /tmp/mgd-J4B/clone/source/stylesheets/main.css.scss */
    div.about-content .blurb p:first-child {
      margin-top: 0; }
  /* line 270, /tmp/mgd-J4B/clone/source/stylesheets/main.css.scss */
  div.about-content .image-container {
    display: inline-block; }
  /* line 273, /tmp/mgd-J4B/clone/source/stylesheets/main.css.scss */
  div.about-content img {
    max-width: 100%; }

/* line 277, /tmp/mgd-J4B/clone/source/stylesheets/main.css.scss */
ol {
  padding: 0; }
  /* line 279, /tmp/mgd-J4B/clone/source/stylesheets/main.css.scss */
  ol li {
    display: block; }

/* line 284, /tmp/mgd-J4B/clone/source/stylesheets/main.css.scss */
.pagination-controls {
  text-align: center; }

/* line 288, /tmp/mgd-J4B/clone/source/stylesheets/main.css.scss */
.resume h4, .resume p, .resume pre {
  margin: 0.25em 0; }
/* line 292, /tmp/mgd-J4B/clone/source/stylesheets/main.css.scss */
.resume pre {
  margin: 0.75em 0; }
/* line 295, /tmp/mgd-J4B/clone/source/stylesheets/main.css.scss */
.resume code {
  margin: 0;
  overflow-x: auto; }

/* line 301, /tmp/mgd-J4B/clone/source/stylesheets/main.css.scss */
.gpg pre, .gpg code {
  margin: 0;
  height: 250px; }
/* line 305, /tmp/mgd-J4B/clone/source/stylesheets/main.css.scss */
.gpg code {
  overflow: scroll; }
